body{
    background-color: black;
    color: white;
    background-image: url(tpe-wide.jpg);
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
}



.quiz-question{

    padding: 5px;
    margin: 5px;
}

.pageCon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    flex-direction: column;
}

.itenPageCon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    flex-direction: column;
}


.cardCon{
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
}

.questionCon{
    color: black;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s .2s, opacity .2s linear;
}

.lineBreak{
    width: 100%;
}

.date-input{
    margin-bottom: 10px;
}

.activity{
    background-color: lightgray;
    color: black;
    width: 80%;
    margin: 10px;
  
}

.day-num{
    font-size: 16px;
    
}

.activityImg{
    
    max-height: 400px;
    max-width: 350px;
    
}

.mapIframe{
    width:300px;
    height: 250px;
}

.weatherIcon{
    max-width: 48px;
}

.homeBtn{
    margin-bottom: 10px;
}

.textList{
    color: black;
}

@media(max-width: 600px) {
    body {
        background-image: url(tpe-tall.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .activityImg{
        max-width: 150px;
    }

    .day-num{
        font-size: 12px;
    }
    .mapIframe{
        width: 180px;
        height: 130px;
    }
    .weatherIcon{
        max-width: 32px;
    }
    

  }

  @media all {
    .page-break {
      display: none;
    }
  }
  
  @media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }

  
  }
  
  @media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-before: auto;
    }
  }
  
  @page {
    size: auto;
    margin: 20mm;
  }