body{
    background-color: black;
    color: white;
    background-image: url(tpe-wide.jpg);
    text-align: center;
}

@media only screen and (max-width: 400px) {
    body {
        background-image: url(tpe-tall.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
  }

.quiz-question{

    padding: 5px;
    margin: 5px;
}

.pageCon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    flex-direction: column;
}

.questionCon{
    color: black;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s .2s, opacity .2s linear;
}

.lineBreak{
    width: 100%;
}

.date-input{
    margin-bottom: 10px;
}

.activity{
    background-color: lightgray;
    color: black;
    width: 70%;
  
}

.day-num{
    font-size: 16px;
}